.header__menu {
    background: #F8F4FC;
}

.menu-about {
    display: flex;
    list-style: none;
}

.menu-about li {
    margin-left: 20px;
}

.menu-about a {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #354657;
    text-transform: uppercase;
    text-decoration: none;
}

.titel {
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 18px;
}

.btn_cart {
    -webkit-transition: all 1s linear 500ms;
    transition: all 1s linear 500ms;
    color: #946FD3;
    border-radius: 50px;
    border: 2px solid #946FD3;
    background-color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}

.btn_cart:hover {
    background-color: #946FD3;
    color: white;
    border: 2px solid white;
}

.card__transform:hover {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);

}

.card__transform:first-child {
    -webkit-animation: card_anim 6s 1;
    animation: card_anim 6s 1;
}

.card__transform {
    -webkit-transition: all 400ms;
    transition: all 400ms;
    position: relative;
}

/* .card__rotey {
    display: none;
    background: grey;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
} */

.card__transform:hover>.card__rotey {
    display: block;
}

.footer {
    display: flex;
    padding: 0;
}

footer {
    display: flex;
    justify-content: space-between;
}

.footer-menu {
    display: flex;
    list-style-type: none;
    font-weight: 700;
    align-items: center;
    padding: 0;
}
.footer-menu ul {
    margin: 0 0 0 80px;
}

.footer-menu li {
    margin-right: 40px;
}

.icons-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
}

.icons-footer img {
    margin-left: 17px;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@keyframes card_anim {
    from {
        background: green;
    }

    20% {
        transform: rotateZ(15deg);
    }

    40% {
        transform: rotateZ(-15deg);
    }

    60% {
        transform: rotateZ(15deg)
    }

    80% {
        transform: rotateZ(-15deg)
    }

    to {
        transform: rotateZ(0deg)
    }
}